.navbar {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-brand img {
  max-width: 100px;
}

@media screen and (min-width: 1024px) {
  .navbar {
    letter-spacing: 0.1em;
  }
  .navbar .navbar-nav .nav-link {
    padding: 0.5em 1em;
  }
  .search-and-icons {
    width: 50%;
  }
  .search-and-icons form {
    flex: 1;
  }
}
@media screen and (min-width: 768px) {
  .navbar .navbar-brand img {
    max-width: 7em;
  }
  .navbar .navbar-collapse {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .search-and-icons {
    display: flex;
    align-items: center;
  }
}
.search-and-icons form input {
  border-radius: 0;
  height: 2em;
  background: #fff
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E")
    no-repeat 95%;
}
.search-and-icons form input:focus {
  background: #fff;
  box-shadow: none;
}
.search-and-icons .user-icons div {
  padding-right: 1em;
}
.contact-info p,
.contact-info a {
  font-size: 0.9em;
  padding-right: 1em;
  color: grey;
}
.contact-info a {
  padding-right: 0;
}

.dropdown-menu {
  width: 500px; /* Adjust the width as needed */
}

body {
  background-color: #ecedee;
}
.card {
  border: none;
  overflow: hidden;
}
.thumbnail_images ul {
  list-style: none;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.thumbnail_images ul li {
  margin: 5px;
  padding: 10px;
  border: 2px solid #eee;
  cursor: pointer;
  transition: all 0.5s;
}
.thumbnail_images ul li:hover {
  border: 2px solid #000;
}
.main_image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
  height: 400px;
  width: 100%;
  overflow: hidden;
}
.heart {
  height: 29px;
  width: 29px;
  background-color: #eaeaea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content p {
  font-size: 12px;
}
.ratings span {
  font-size: 14px;
  margin-left: 12px;
}
.colors {
  margin-top: 5px;
}
.colors ul {
  list-style: none;
  display: flex;
  padding-left: 0px;
}
.colors ul li {
  height: 20px;
  width: 20px;
  display: flex;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.colors ul li:nth-child(1) {
  background-color: #6c704d;
}
.colors ul li:nth-child(2) {
  background-color: #96918b;
}
.colors ul li:nth-child(3) {
  background-color: #68778e;
}
.colors ul li:nth-child(4) {
  background-color: #263f55;
}
.colors ul li:nth-child(5) {
  background-color: black;
}
.right-side {
  position: relative;
}
.search-option {
  position: absolute;
  background-color: #000;
  overflow: hidden;
  align-items: center;
  color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 49% 51% 50% 50% / 68% 69% 31% 32%;
  left: 30%;
  bottom: -250px;
  transition: all 0.5s;
  cursor: pointer;
}
.search-option .first-search {
  position: absolute;
  top: 20px;
  left: 90px;
  font-size: 20px;
  opacity: 1000;
}
.search-option .inputs {
  opacity: 0;
  transition: all 0.5s ease;
  transition-delay: 0.5s;
  position: relative;
}
.search-option .inputs input {
  position: absolute;
  top: 200px;
  left: 30px;
  padding-left: 20px;
  background-color: transparent;
  width: 300px;
  border: none;
  color: #fff;
  border-bottom: 1px solid #eee;
  transition: all 0.5s;
  z-index: 10;
}
.search-option .inputs input:focus {
  box-shadow: none;
  outline: none;
  z-index: 10;
}
.search-option:hover {
  border-radius: 0px;
  width: 100%;
  left: 0px;
}
.search-option:hover .inputs {
  opacity: 1;
}
.search-option:hover .first-search {
  left: 27px;
  top: 25px;
  font-size: 15px;
}
.search-option:hover .inputs input {
  top: 20px;
}
.search-option .share {
  position: absolute;
  right: 20px;
  top: 22px;
}
.buttons .btn {
  height: 50px;
  width: 150px;
  border-radius: 0px !important;
}

.navbar-nav .nav-link {
  padding: 0.5rem 0rem !important;
  border-color: transparent;
  margin-left: 1.5rem;
  transition: none;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.container .product-item {
  min-height: 450px;
  border: none;
  overflow: hidden;
  position: relative;
  border-radius: 0;
}

.container .product-item .product {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.container .product-item .product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .product-item .product .icons .icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease;
  transform: rotate(180deg);
  cursor: pointer;
}

.container .product-item .product .icons .icon:hover {
  background-color: #b71c1c;
  color: #fff;
}

.container .product-item .product .icons .icon:nth-last-of-type(3) {
  transition-delay: 0.2s;
}

.container .product-item .product .icons .icon:nth-last-of-type(2) {
  transition-delay: 0.15s;
}

.container .product-item .product .icons .icon:nth-last-of-type(1) {
  transition-delay: 0.1s;
}

.container .product-item:hover .product .icons .icon {
  transform: translateY(-60px);
}

.container .product-item .tag {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 0 0.4rem;
}

.container .product-item .title {
  font-size: 0.95rem;
  letter-spacing: 0.5px;
}

.container .product-item .fa-star {
  font-size: 0.65rem;
  color: goldenrod;
}

.container .product-item .price {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.bg-green {
  background-color: #208f20 !important;
  color: #fff;
}

.bg-black {
  background-color: #1f1d1d;
  color: #fff;
}

.bg-red {
  background-color: #bb3535;
  color: #fff;
}

@media (max-width: 767.5px) {
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover {
    background-color: #571cb7;
    color: #fff !important;
  }

  .navbar-nav .nav-link {
    border: 3px solid transparent;
    margin: 0.8rem 0;
    display: flex;
    border-radius: 10px;
    justify-content: center;
  }
}
